<option value="n_net_toa_all">TOA Energy All Sky</option>
<option value="n_net_toa_clr">TOA Energy Clear Sky</option>
<option value="f_net_sfc_all">Surface Radiative All Sky</option>
<option value="f_net_sfc_clr">Surface Radiative Clear Sky</option>
<option value="n_net_sfc_all">Surface Energy All Sky</option>
<option value="n_net_sfc_clr">Surface Energy Clear Sky</option>
<option value="f_net_ocn_all">Ocean Radiative All Sky</option>
<option value="f_net_ocn_clr">Ocean Radiative Clear Sky</option>
<option value="n_net_ocn_all">Ocean Energy All Sky</option>
<option value="n_net_ocn_clr">Ocean Energy Clear Sky</option>
